body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
*{
  font-family: 'Lato', sans-serif;
}
.log{
    background-color:#0AC2CC;
    color:#ffffff;
    padding: 12px 110px;
    border-radius: 100px;
    font-size:14px;
    border-color: #ffffff;
    border-style: solid;
    max-width: 60%;
    
}



.reg{
  background-color:#bdbdbd;
  color:#000000;
  padding: 12px 110px;
  border-radius: 100px;
  font-size:14px;
  border-color: #ffffff;
  border-style: solid;
  max-width: 60%;
}

.input{
  border: 1px solid black ;
  margin-bottom: 12px;
  width: 90%;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: medium;
}
input:focus{
    background-color: rgb(221, 252, 241);
    
}
.split-input{
  display: flex;
  justify-content: space-between;
  
}
.split-input Input{
    width:40%;
    
}
.wrapper{
  background-color: #0AC2CC;
  width: 100%;
  height: 120vh;
  display: flex;
  align-items :center;
  
}

img{
  margin-bottom: 30px;
  
}
.remember-container{
  display:flex;
  justify-content: space-around;
  align-content: center;
}
.remember-container input{
  
  margin-right: 10px;
}
.container{
  width: 50%;
  margin: auto;
  text-align: center;
  border-radius: 20px;
}

form{
  background-color: #ffffff;
  border-radius: 20px;
  width:100%;
  padding: 30px 30px 60px 30px;
  text-align: center;
}
.form-heading{
  color: #000000;
  font-size: 24px;
}
.reg-heading{
  color: #000000;
  font-size: 24px;
}
.reg-sub-head{
  color: #5f5e5e;
  font-size: 10px;
  font-weight:500;
}
.form-subheading{
  color: #5f5e5e;
  font-size: 10px;
  font-weight:500;
  
}
a{
  color: #000000;
  font-size: 10px;
  font-weight: 300;
  line-height:30px;
  text-decoration: none;
}

.reg-accept-container{
  display:flex;
  flex-direction: row;
  align-content: left;
  
}
.reg-accept-container .reg-form-control label{
    margin-left: 07px;
    text-align: center;
}

@media only screen and (max-width: 500px){
    .container{
      margin: 0%;
      width: 88vw;
    }
}